<h1>All Employees</h1>

<ul>
    {{#each employee}}
    <li>
        <a href="/auth/{{this._id}}">
            {{this.username}}
        </a>

        <form action="/auth/{{this._id}}/edit" method="get">
            <button>Edit</button>
        </form>
        <form action="/auth/{{this._id}}/delete" method="post">
            <button>Delete</button>
        </form>


    </li>
    {{/each}}
</ul>